select {
  padding-left: 12px;
  width: 100%;
  cursor: pointer;
  height: 36px;
  border-radius: 4px;
  margin-top: 5px;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: 95%;
  border: 1px solid #413f3f62;
  overflow: hidden;

  color: black !important;
}
.select:focus-visible {
  border: 1px solid rgb(0, 47, 255) !important;
  outline: none;
}

.select {
  padding-top: 4px;
  border-radius: 2.5px;
  margin-right: 11px;
  font-style: normal !important;
}
.select.filter-input {
  padding-left: 38px;
  width: 219px;
  height: 35px;
  margin-top: 13px;
  font-size: 13px;
}
.select.filter-input:required:invalid {
  color: #212121ac;
  font-style: normal;
}

select:required:invalid {
  color: gray;
}
option {
  color: black;
}
